<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                This is some text within a card block.
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" (click)="_db.filter = '20000'">$20.000</button>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Articulos ({{ users?.length }})</h4>
        <div class="table-responsive">
          <table class="table table-bordered color-table primary-table" *ngIf="users">
            <thead>
              <th>Id</th>
              <th>Category</th>
              <th>Name</th>
              <th>Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.category }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
