
<!--
<div class="row">
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
      <div class="item-car"></div>
      <div class="box bg-info text-right" style="padding-left:40%">
        <h6 class="text-white" style="max-height:32px;">Total Tickets Total Tickets Total Tickets</h6>
        <h1 class="font-light text-white" style="font-size:calc(150%)">$ 2,333,064</h1>
      </div>
    </div>
  </div>
</div>
 -->
 <div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-actions">
        <a class="" data-action="collapse"><i class="ti-minus"></i></a>
        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
        <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
      </div>
      <h4 class="card-title m-b-0">Caja - 1</h4>
    </div>
    <div class="card-body collapse show">
      <div class="table-responsive">
        <table class="table product-overview">
          <thead>
            <tr>
              <th>Producto</th>
              <th>foto</th>
              <th>Cantidad</th>
              <th>Valor</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Steave Jobs</td>
              <td><img src="../assets/images/gallery/chair.jpg" alt="iMac" width="80"></td>
              <td>20</td>
              <td>10-7-2017</td>
              <td>
                <span class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit">
                  <i class="ti-marker-alt"></i>
                </span>
                <span class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                  <i class="ti-trash"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td>Varun Dhavan</td>
              <td><img src="../assets/images/gallery/chair2.jpg" alt="iPhone" width="80"></td>
              <td>25</td>
              <td>09-7-2017</td>
              <td>
                <span class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit">
                  <i class="ti-marker-alt"></i>
                </span>
                <span class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                  <i class="ti-trash"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td>Ritesh Desh</td>
              <td><img src="../assets/images/gallery/chair3.jpg" alt="apple_watch" width="80"></td>
              <td>12</td>
              <td>08-7-2017</td>
              <td>
                <span class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit">
                  <i class="ti-marker-alt"></i>
                </span>
                <span class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                  <i class="ti-trash"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td>Hrithik</td>
              <td><img src="../assets/images/gallery/chair4.jpg" alt="mac_mouse" width="80"></td>
              <td>18</td>
              <td>02-7-2017</td>
              <td>
                <span class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit">
                  <i class="ti-marker-alt"></i>
                </span>
                <span class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                  <i class="ti-trash"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button (click)="_aps.breadcrumb = !_aps.breadcrumb">
  Activar
</button>
