<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table stylish-table">
            <thead>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Articulos</th>
              <th class="text-rigth">Total</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
